:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#FB3640;
    --secundario:#542E71;

    --fuenteTitulo: 'Bangers', cursive;
    --fuenteTituloForm:'Chewy', cursive;
    --fuenteTexto: 'Krub', sans-serif;
    
}

/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;/*Hack border box, lo que hace es que si yo le defino x cantidad de pixeles a un elemneto y despues le 
                             aplico un padding, ese padding ya no afecta el tamaño del elemento*/
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;/*1rem= 10px estos ajustes permiten trabajar en una gran cantidad de pantallas y permiten que se adapten a los distintos tamaños */
    font-family: var(--fuenteTexto);
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}

.contenedor{
    max-width: 110rem;
    margin: 0 auto ; /* margin abarca los 4 margenes,(top, right,bottom, left,), al colocar dos valores el navegador entiende que se tienen q repetir  */
    
}

.centrar-titulo{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.quitar-viñeta li{
    list-style: none;
    
}
ul{
    padding: 0;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 40%;
    text-align: center;
    border: none;
}
.boton:hover{
    color: #FFE98A ;
}

/*Tipografías*/
.titulo{
    font-family: var(--fuenteTitulo);
    font-size: 7.8rem;
    text-align: center;
    color: #FB3640;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 3rem;
    font-weight: bold;
}
h3{
    font-size: 2rem;
}

h1,h2,h3{
    text-align: center;
}
p{
    font-size: 1.8rem;
}
.resaltar{
    font-weight: bold;
}
/*Navegacion Principal*/
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /*alineamos horizontalmente los elementos cuando flex es row*/
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/*Fondo*/
.fondo{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*la imagen cubra, se extienda toda la pantalla*/
    height: 380px;
    position: relative;   
    margin-bottom: 2rem;
}
.imagen{
    position: absolute;
    background-color:rgb(0 0 0 / 70% );
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column; /*cuando cambiamos el flex de row que viene por defecto a column, alineamos  horizontalmente con align-items y verticalmente con justify-content*/
    align-items: center;
    justify-content: center;

}

.imagen h2, 
.imagen p{
    margin: 3rem auto;
    color: var(--blanco);
}

/*Acerca de Mi*/
.perfil{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.foto-perfil{
   max-width: 100%;
   border-radius: 2rem;
   box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
}
@media (min-width: 768px) {
    .perfil{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
    .foto-perfil{
        max-width: 90%;
    }
    
}

/*Box Shadow*/
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*Portafolio*/
@media (min-width: 768px) {
    .proyectos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
}
.proyecto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  flex: 1;
}
.proyecto h3{
  color:#542E71;
  font-weight: bold;
  
}
.proyecto p{
    line-height: 2;
    text-align: center;
}

.proyecto .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/*Redes*/
.alinear-iconos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

@media (min-width: 768px) {
    .alinear-iconos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

.icono{
    margin-top: 2rem;

}
.icono:hover{
   transform: scale(1.2,1.2);
}

/*Barra Navegacion fija*/
.fijo{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 .3rem .4rem #444;  /*1 valor sombra de izq a derecha , 2 valor de arriba hacia abajo*/
}

/*Formulario*/
.miform{
    width: min( 60rem, 100%);
    margin: 0 auto;
    background-color: grey;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 1rem;
}

.miform fieldset {
    border: none;
}

legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: yellow;
}
label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    
}
.inp{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background-color:aliceblue;
    border: none;
    border-radius: 1rem;
}

.tex{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    height: 150px;
    background-color:aliceblue;
    border-radius: 1rem;
    resize: none;
}
.botonubi{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.botomform{
    display: block;
    text-align: center;
    color:black;
    background-color: darksalmon;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fuenteTexto);
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 10px;
}

#boton:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
/*Boton Volver Inicio*/
.volver-atras{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-top: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.volver-atras:hover{
    color: #0F2C67;
    transform: translateY(-5px);
}
/*Footer*/
.footer{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.centrar-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .centrar-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

.footer p{
    margin-bottom: .5rem;
}
.ubicacion-correo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.ubicacion-correo p{
    margin: .5rem 1rem;
}
